rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Tất cả files đều cho phép đọc (kể cả không đăng nhập)
    match /{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }
  }
}
